<p>expense works!</p>
<!-- <div id="onePokemon" *ngIf="selectedExpense">
  <h3>{{ selectedExpense.name | uppercase }}</h3>
</div> -->
<!-- <div>
  <h3>{{  }}</h3>
  <div>
    <ul class="list-group">
      <li class="list-group-item">Id: {{ selected.id }}</li>
      <li class="list-group-item">Completed: {{ selected.completed }}</li>
      <li class="list-group-item">Description: {{ selected.description }}</li>
    </ul>
  </div>
  <br />
  <div class="btn-group" role="group" aria-label="selected task">
    <button class="btn btn-outline-success" (click)="displayTable()">
      Back
    </button>
    <button class="btn btn-outline-success" (click)="setEditTodo()">
      Edit
    </button>
  </div>
</div> -->

<!-- *ngIf="selected && !editTodo" -->
