<body class="text-center" >
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner jumbotron">
        <h1 class="masthead-brand">Expense Locker</h1>
        <br>
        <img src="favicon.ico" width="150" height="150">
        <br>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#"><strong>Login</strong></a>
          <a class="nav-link" href="#"><strong>Register</strong></a>
<!-- <a class="nav-link" [routerLink]="['/about']">About</a> -->
</nav>
      </div>
    </header>

    <main role="main" class="inner cover">

      <h1 class="cover-heading">Keep Track of Your Expenses Here</h1>
      <br>
      <p class="lead">
        Expense Locker will allow you to create, edit, track, and delete all your expenses.
      </p>
      <div>
        <br>
      </div>
      <p class="lead">
        <a [routerLink]="['/about']" class="btn btn-lg btn-secondary">Learn more</a>
      </p>

    </main>
  </div>
</body>


