@charset "UTF-8";

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

body{
    background-color: #32CD32 !important;
}

.solid-sticky {
  background-color: #a9a9a9 !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  
}