/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.responsive {
  width: 100%;
  height: auto;
}

/* .bgimg {
  background-image: url('assets/img/helloquence-5fNmWej4tAA-unsplash.jpg');
  width: 100%;
  height: auto;
} */
